{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <div id="test-editormd-view">
        <textarea  class="body" style="display:none;">{{ post['body'] }}</textarea>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/underscore.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/sequence-diagram.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/flowchart.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
<script type="text/javascript">
  var testEditormdView;
  $(function() {
    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
  });
</script>
{% endblock %}

